.features-list a {
    font-weight: 500;
    line-height: 16px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px ;
    border-radius: 15px;
    cursor: pointer;
    list-style: none;
}

.active1:before{
    content: "";
  background-color: #F20791;
  font-weight: bold;
  display: inline-block; 
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 5px;
  vertical-align: middle;
}

.active2:before{
    content: "";
  background-color: #014F93;
  font-weight: bold;
  display: inline-block; 
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 5px;
  vertical-align: middle;
}
.active3:before{
    content: "";
  background-color: #D38611;
  font-weight: bold;
  display: inline-block; 
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 5px;
  vertical-align: middle;
}
.active4:before{
    content: "";
  background-color: #20DB76;
  font-weight: bold;
  display: inline-block; 
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 5px;
  vertical-align: middle;
}
.active5:before{
    content: "";
  background-color: #DB204D;
  font-weight: bold;
  display: inline-block; 
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 5px;
  vertical-align: middle;
}
.active6:before{
    content: "";
  background-color: #2088DB;
  font-weight: bold;
  display: inline-block; 
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 5px;
  vertical-align: middle;
}
.active7:before{
    content: "";
  background-color: #6720DB;
  font-weight: bold;
  display: inline-block; 
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 5px;
  vertical-align: middle;
}